<section class="slider-area">
    <div class="slider-active">
        <div class="single-slider slider-bg d-flex align-items-center" style="background-image:url({{site.baseurl}}/assets/img/slider/slider1.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content">
                            <h1 data-animation="fadeInDown" data-delay=".2s">Your local <br>building materials supplier.<br><span>Same-day delivery</span></h1>
                            <p data-animation="fadeInLeft" data-delay=".4s">Based in central West Bromwich, we deliver high-quality low-cost building materials</p>
                            <a href="#our-services" class="btn" data-animation="fadeInUp" data-delay=".6s">See Our Range of Products</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider slider-bg d-flex align-items-center" style="background-image:url({{site.baseurl}}/assets/img/slider/slider2.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content">
                            <h1 data-animation="fadeInUp" data-delay=".2s">Your local <br>building materials supplier.<br><span>Same-day delivery</span></h1>
                            <p data-animation="fadeInLeft" data-delay=".4s">Based in central West Bromwich, we deliver high-quality low-cost building materials</p>
                            <a href="#our-services" class="btn" data-animation="fadeInUp" data-delay=".6s">See Our Range of Products</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider slider-bg d-flex align-items-center" style="background-image:url({{site.baseurl}}/assets/img/slider/slider3.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content">
                            <h1 data-animation="fadeInUp" data-delay=".2s">Your local <br>building materials supplier.<br><span>Same-day delivery</span></h1>
                            <p data-animation="fadeInLeft" data-delay=".4s">Based in central West Bromwich, we deliver high-quality low-cost building materials</p>
                            <a href="#our-services" class="btn" data-animation="fadeInUp" data-delay=".6s">See Our Range of Products</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>